body > .game-logo-wrapper {
  grid-row: 1;
  grid-column: 1 / -1;
}

body > #hallClick {
  grid-row: 2;
  grid-column: 1;
  margin: 8px 4px;
}

body > #startButton {
  grid-row: 2;
  grid-column: 2;
  margin: 8px 4px;
}

body > canvas {
  grid-row: 3;
  grid-column: 1 / -1;
}

body > .mobile-controls {
  grid-row: 5;
  grid-column: 1 / -1;
}

/* Contenedor principal del juego */
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  width: 100%;
}

@media (max-width: 768px) {
  .game-container {
    gap: 15px;
  }
}